name: Android CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: clone skystone ftc app repository
      run: git clone "https://github.com/FIRST-Tech-Challenge/SkyStone.git"
    - name: move fusion skystone into teamcode
      run: |
        mv PIDController.java SkyStone/TeamCode/src/main/java/org/firstinspires/ftc/teamcode
        mv hardware SkyStone/TeamCode/src/main/java/org/firstinspires/ftc/teamcode
        mv opmode SkyStone/TeamCode/src/main/java/org/firstinspires/ftc/teamcode
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: |
        chmod +x ./SkyStone/gradlew
        ./SkyStone/gradlew build
